<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general::header(~{::title},~{},~{})">
<meta charset="UTF-8">
<title>差异分析</title>
</head>
<body>
	<div class="lyear-layout-web">
		<div class="lyear-layout-container">
			<div th:replace="fragments/general::left"></div>
			<div th:replace="fragments/general::top('差异分析')"></div>
			<main class="lyear-layout-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">

								</div>
							</div>
						</div>

					</div>

				</div>

			</main>
		</div>
	</div>
</body>
</html>