<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/general::header(~{::title},~{::link},~{::script})">
<meta charset="UTF-8">
<title>差异分析</title>
<link th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css"
	rel="stylesheet">
<link
	th:href="@{/webjars/jquery-datatables-checkboxes/css/dataTables.checkboxes.css}"
	href="../static/css/dataTables.checkboxes.css" rel="stylesheet">
<link rel="stylesheet"
	th:href="@{/webjars/jquery-confirm/css/jquery-confirm.css}"
	href="../static/css/jquery-confirm.min.css">

<script th:src="@{/webjars/jquery-confirm/js/jquery-confirm.js}"
	src="../static/js/jquery-confirm.min.js"></script>
<script th:src="@{/webjars/twbs-pagination/jquery.twbsPagination.js}"
	src="../static/js/jquery.twbsPagination.js"></script>
<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"
	src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script th:src="@{/webjars/datatables/js/dataTables.bootstrap.min.js}"
	src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script
	th:src="@{/webjars/jquery-datatables-checkboxes/js/dataTables.checkboxes.min.js}"
	src="../js/dataTables.checkboxes.min.js"></script>
<script th:src="@{/webjars/d3js/d3.min.js}"
	src="http://d3js.org/d3.v5.min.js">
	
</script>
<script type="text/javascript">
	$(function() {
		var url = "projects";
		$.get(url, function(datas) {
			var sel1 = $('#sel1')[0];
			var sel2 = $('#sel2')[0];

			var ids = new Set();

			for (index in datas) {
				if (ids.has(datas[index].id))
					continue;
				if (datas[index].pid != null)
					continue;
				sel1.options[sel1.options.length] = new Option(
						datas[index].projectPath, datas[index].id);
				sel2.options[sel2.options.length] = new Option(
						datas[index].projectPath, datas[index].id);
				ids.add(datas[index].id);
			}
		});

		$('.showFilesOfProject').DataTable({
			scrollY : '50vh',
			scrollCollapse : true,
			columnDefs : [ {
				'targets' : 0,
				'checkboxes' : {
					'selectRow' : true
				}
			} ],
			language : {
				"sProcessing" : "处理中...",
				"sLengthMenu" : "显示 _MENU_ 项结果",
				"sZeroRecords" : "没有匹配结果",
				"sInfo" : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
				"sInfoEmpty" : "显示第 0 至 0 项结果，共 0 项",
				"sInfoFiltered" : "(由 _MAX_ 项结果过滤)",
				"sInfoPostFix" : "",
				"sSearch" : "搜索:",
				"sUrl" : "",
				"sEmptyTable" : "表中数据为空",
				"sLoadingRecords" : "载入中...",
				"sInfoThousands" : ",",
				"oPaginate" : {
					"sFirst" : "首页",
					"sPrevious" : "上页",
					"sNext" : "下页",
					"sLast" : "末页"
				},
				"oAria" : {
					"sSortAscending" : ": 以升序排列此列",
					"sSortDescending" : ": 以降序排列此列"
				}
			}
		});
	});

	function setOptionsDisabled(selectedObject) {
		var selectedIndex = selectedObject.selectedIndex;
		var selectedProjectId = selectedObject.options[selectedIndex].value;
		/* var url = "/project/" + selectedProjectId + "/files"; */
		var selectedElementId = selectedObject.id;

		/* var table; */
		if (selectedElementId == "sel1") {
			var sel2 = $('#sel2')[0];
			for (index in sel2.options) {
				if (sel2.options[index].value == selectedProjectId) {
					sel2.options[index].disabled = true;
				} else {
					sel2.options[index].disabled = false;
				}
			}

			/* table = $('#project1FilesTable').DataTable(); */
		} else {
			var sel1 = $('#sel1')[0];
			for (index in sel1.options) {
				if (sel1.options[index].value == selectedProjectId) {
					sel1.options[index].disabled = true;
				} else {
					sel1.options[index].disabled = false;
				}
			}

			/* table = $('#project2FilesTable').DataTable(); */
		}

		/* table.clear().draw();

		$.get(url, function(datas) {
			for (index in datas) {
				var data = [ index, datas[index] ];
				table.row.add(data);
			}
			table.draw();
		}); */

	}
	
	function loadAllModifiedFiles() {
		var selectedProject1Id = $('#sel1')[0].options[$('#sel1')[0].selectedIndex].value;
		if (selectedProject1Id == null || selectedProject1Id == "") {
			$.alert("请选择一个项目作为项目一");
			return;
		}
		var selectedProject2Id = $('#sel2')[0].options[$('#sel2')[0].selectedIndex].value;
		if (selectedProject2Id == null || selectedProject2Id == "") {
			$.alert("请选择一个项目作为项目二");
			return;
		}
		
		var url = "/differences/modifiedFiles";
		var data = { projectId1: selectedProject1Id, projectId2: selectedProject2Id};
		var table1 = $('#project1FilesTable').DataTable();
		var table2 = $('#project2FilesTable').DataTable();
		$.ajax({
			type : 'GET',
			url : url,
			data : data,
			beforeSend : function() {
				$('#loadAllModifiedFilesButton').addClass('disabled');
				$('#loadingSignForLoadAllModifiedFiles').show();
				table1.clear().draw();
				table2.clear().draw();
			},
			success : function(modifiedFilesMap) {
				console.log(modifiedFilesMap);
				var modifiedFilesOfProject1 = modifiedFilesMap.project1;
				for (var i = 0; i < modifiedFilesOfProject1.length; i++) {
					var data = [ i, modifiedFilesOfProject1[i] ];
					table1.row.add(data);
				}
				table1.draw();
				var modifiedFilesOfProject2 = modifiedFilesMap.project2;
				for (var i = 0; i < modifiedFilesOfProject2.length; i++) {
					var data = [ i, modifiedFilesOfProject2[i] ];
					table2.row.add(data);
				}
				table2.draw();
			},
			error : function(statusCode) {
				$.alert("出错了，状态码为" + statusCode.status);
			},
			complete : function() {
				$('#loadAllModifiedFilesButton').removeClass('disabled');
				$('#loadingSignForLoadAllModifiedFiles').hide();
			}
		});	
	}
</script>
<script type="text/javascript">
	var pageSize = 5;
	var currentRequestPage = 1;
	function compare(currentPage, size, displayType) {
		var selectedProject1Id = $('#sel1')[0].options[$('#sel1')[0].selectedIndex].value;
		if (selectedProject1Id == null || selectedProject1Id == "") {
			$.alert("请选择一个项目作为项目一");
			return;
		}
		var selectedProject2Id = $('#sel2')[0].options[$('#sel2')[0].selectedIndex].value;
		if (selectedProject2Id == null || selectedProject2Id == "") {
			$.alert("请选择一个项目作为项目二");
			return;
		}
		var filePaths = [];
		var table1 = $('#project1FilesTable').DataTable();
		var table2 = $('#project2FilesTable').DataTable();
		var rows_selected1 = table1.column(0).checkboxes.selected();
		var rows_selected2 = table2.column(0).checkboxes.selected();
		$.each(rows_selected1, function(index, rowId) {
			var projectPath = table1.rows(rowId).data()[0][1];
			filePaths.push(projectPath);
		});

		$.each(rows_selected2, function(index, rowId) {
			var projectPath = table2.rows(rowId).data()[0][1];
			filePaths.push(projectPath);
		});

		if (filePaths.length == 0) {
			$.alert("请在项目一或项目二中选择要比较的文件");
			return;
		}

		var totalPages = Math.ceil(filePaths.length / size);
		if (currentPage > totalPages)
			currentPage = 1;
		
		currentRequestPage = currentPage;
		$('#pageCompare').twbsPagination('destroy');
		

		var requestParams = JSON.stringify({
			projectId1 : selectedProject1Id,
			projectId2 : selectedProject2Id,
			filePaths : filePaths,
			currentPage : currentPage,
			size : size
		});

		$.ajax({
			type : 'POST',
			contentType : 'application/json; charset=utf-8',
			url : '/differences/compare',
			data : requestParams,
			beforeSend : function() {
				$('#loadingSignForDisplayDifferences').show();
				$('.showModifiedInformation').addClass('disabled');
				if (displayType == "table")
					setUpForTable();
				else
					setUpForGraph();
			},
			success : function(data) {
				console.log(data);
				$('#pageCompare').twbsPagination({
					first : '首页',
					prev : '上页',
					next : '下页',
					last : '末页',
					initiateStartPageClick : false,
					totalPages : totalPages,
					startPage : currentPage,
					visiblePages : 10,
					onPageClick : function(event, page) {
						compare(page, size, displayType);
					}
				});
				if (displayType == "table")
					displayAsTable(data);
				else
					displayAsGraph(data);
			},
			error : function(statusCode) {
				$.alert("出错了，状态码为" + statusCode.status);
			},
			complete : function() {
				$('.showModifiedInformation').removeClass('disabled');
				$('#loadingSignForDisplayDifferences').hide();
			}
		});
	}
</script>
<script type="text/javascript">
	function setUpForTable() {
		$('#displayAsGraph').hide();
		$('#displayAsTable').show();
		$('#resultDataTable tbody').html("");
	}

	function setUpForGraph() {
		$('#displayAsTable').hide();
		$('#displayAsGraph').show();
		$('#displayAsGraph svg').html("");
	}
</script>
<script type="text/javascript">
	function displayAsTable(fileCompares) {
		for (var i = 0; i < fileCompares.length; i++) {
			var fileCompare = fileCompares[i];
			for (var j = 0; j < fileCompare.methodCompares.length; j++) {
				var methodCompare = fileCompare.methodCompares[j];
				$('#resultDataTable')
						.append(
								'<tr><td>'
										+ getValueExpectNull(fileCompare.filePath1)
										+ '</td><td>'
										+ getValueExpectNull(fileCompare.filePath2)
										+ '</td><td>'
										+ fileCompare.state
										+ '</td><td>'
										+ getValueExpectNull(methodCompare.briefMethodInformation1)
										+ '</td><td>'
										+ getValueExpectNull(methodCompare.version1)
										+ '</td><td>'
										+ getValueExpectNull(methodCompare.briefMethodInformation2)
										+ '</td><td>'
										+ getValueExpectNull(methodCompare.version2)
										+ '</td><td>' + methodCompare.state
										+ '</td><td>'
										+ methodCompare.similarity
										+ '</td></tr>');
			}
		}
	}

	function getValueExpectNull(value) {
		if (value == null)
			return "";
		return value;
	}
	
	function getMethodCompareNode(methodCompare) {
		var methodCompareNode = new Object();
		methodCompareNode.id = methodCompare.briefMethodInformation1
				+ '-' + methodCompare.version1 + '-'
				+ methodCompare.briefMethodInformation2 + '-'
				+ methodCompare.version2;
		methodCompareNode.briefMethodInformation1 = methodCompare.briefMethodInformation1;
		methodCompareNode.version1 = methodCompare.version1;
		methodCompareNode.briefMethodInformation2 = methodCompare.briefMethodInformation2;
		methodCompareNode.version2 = methodCompare.version2;
		methodCompareNode.state = methodCompare.state;
		methodCompareNode.similarity = methodCompare.similarity;
		methodCompareNode.type = "methodCompare";
		return methodCompareNode;
	}
	
	function getFileCompareNode(fileCompare) {
		var fileCompareNode = new Object();
		fileCompareNode.id = fileCompare.filePath1 + '-'
				+ fileCompare.filePath2;
		fileCompareNode.filePath1 = fileCompare.filePath1;
		fileCompareNode.filePath2 = fileCompare.filePath2;
		fileCompareNode.state = fileCompare.state;
		fileCompareNode.type = "fileCompare";
		return fileCompareNode;
	}
	
	function setNodesAndLinks(nodes, links, fileCompares) {
		for (var i = 0; i < fileCompares.length; i++) {
			var fileCompare = fileCompares[i];
			var fileCompareNode = getFileCompareNode(fileCompare);
			nodes.push(fileCompareNode);

			for (var j = 0; j < fileCompare.methodCompares.length; j++) {
				var methodCompare = fileCompare.methodCompares[j];
				var methodCompareNode = getMethodCompareNode(methodCompare);
				nodes.push(methodCompareNode);
				
				var link = new Object();
				link.source = fileCompareNode.id;
				link.target = methodCompareNode.id;
				links.push(link);
			}
		}
	}
	
	function getNodeColor(node) {
		if (node.state == "ADD")
			return "LightGreen";
		else if (node.state == "DELETE")
			return "pink";
		else if (node.state == "MODIFIED")
			return "red";
		else
			return "LightBlue";
	}
	
	function getNodeRadius(node) {
		return node.type == "fileCompare" ? 20 : 10;
	}
	
	function getValidX(node, width) {
		return Math.max(getNodeRadius(node), Math.min(width - getNodeRadius(node), node.x));
	}
	
	function getValidY(node, height) {
		return Math.max(getNodeRadius(node), Math.min(height - getNodeRadius(node), node.y));
	}
	
	function showSelectNode(node) {
		var content = "";
		if (node.type == "fileCompare") {
			content += "文件一路径：" + node.filePath1 + "<br>";
			content += "文件二路径：" + node.filePath2 + "<br>";
			content += "状态：" + node.state + "<br>";
		} else {
			content += "方法信息一：" + node.briefMethodInformation1 + "<br>";
			content += "版本一：" + node.version1 + "<br>";
			content += "方法信息二：" + node.briefMethodInformation2 + "<br>";
			content += "版本二：" + node.version2 + "<br>";
			content += "状态：" + node.state + "<br>";
			content += "相似度：" + node.similarity + "<br>";
		}
		$('#compareNodeInformation').html(content);
		
		var footer = "";
		footer += "<button type='button' class='btn btn-default' data-dismiss='modal'>关闭</button>";
		if (node.type == "methodCompare") {
			footer += "<button type='button' class='btn btn-primary showRelatedInformation' onclick='javascirpt:showRelatedNodes(1)'>显示关联节点(调用该方法的节点)</button>";
			footer += "<button type='button' class='btn btn-primary showRelatedInformation' onclick='javascirpt:showRelatedNodes(2)'>显示关联节点(该方法调用的节点)</button>";
			selectedNode = node;
		}
		$('#myModalFooter').html(footer);
		
		$('#showCompareNode').modal('show');
	}
	
	function showForceDirectedGraph(nodes, links, width, height, svg) {
		svg.attr('width', width).attr('height', height);
		
		svg.append('defs').append('marker')
        .attr('id', 'arrowhead')
        .attr('viewBox','-0 -5 10 10')
        .attr('refX',13)
        .attr('refY', 0)
        .attr('orient', 'auto')
        .attr('markerWidth', 13)
        .attr('markerHeight', 13)
        .append('svg:path')
        .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
        .attr('fill', '#999');
		
		// simulation setup with all forces
		var linkForce = d3
		  .forceLink()
		  .id(function (link) { return link.id })
		  .distance(100);

		var simulation = d3
		  .forceSimulation()
		  .force('link', linkForce)
		  .force('charge', d3.forceManyBody().strength(-10))
		  .force('center', d3.forceCenter(width / 2, height / 2));
		  
		  
		var dragDrop = d3.drag().on('start', function (node) {
		  node.fx = node.x
		  node.fy = node.y
		}).on('drag', function (node) {
		  simulation.alphaTarget(0.7).restart()
		  node.fx = d3.event.x
		  node.fy = d3.event.y
		}).on('end', function (node) {
		  if (!d3.event.active) {
		    simulation.alphaTarget(0)
		  }
		  node.fx = null
		  node.fy = null
		});

		var linkElements = svg.append("g")
			.attr("class", "links")
		  	.selectAll("line")
		  	.data(links)
		  	.enter().append("line")
		  	.attr("stroke-width", 1)
		  	.attr("stroke", "rgba(50, 50, 50, 0.2)")
		  	.attr('marker-end','url(#arrowhead)');

		var nodeElements = svg.append("g")
			.attr("class", "nodes")
		  	.selectAll("circle")
		  	.data(nodes)
		  	.enter().append("circle")
		  	.attr("r", getNodeRadius)
		  	.attr("fill", getNodeColor)
		  	.call(dragDrop)
    	  	.on('click', showSelectNode);

		simulation.nodes(nodes).on('tick', () => {
		  nodeElements
		  	.attr("cx", function(node) {return getValidX(node, width) })
	        .attr("cy", function(node) {return getValidY(node, height) })
	      
		  linkElements
		  	.attr("x1", function(link) { return getValidX(link.source, width) })
	        .attr("y1", function(link) { return getValidY(link.source, height) })
	        .attr("x2", function(link) { return getValidX(link.target, width) })
	        .attr("y2", function(link) { return getValidY(link.target, height) })
		});

		simulation.force("link").links(links);
	}

	function displayAsGraph(fileCompares) {
		var nodes = [];
		var links = [];
		setNodesAndLinks(nodes, links, fileCompares);
		console.log(nodes);
		console.log(links);
		var svg = d3.select('#displayAsGraph svg');
		var width = $('#displayAsGraph').innerWidth();
		var height = Math.max($('#displayAsGraph').innerHeight(), 600);
		showForceDirectedGraph(nodes, links, width, height, svg);
	}
</script>
<script type="text/javascript">
	function clearDisplayedRelatedNodes() {
		$('#displayRelatedNodes svg').html("");
		$('#relatedHeader').text('关联分析');
	}
	
	var selectedNode;
	function showRelatedNodes(type) {
		$('#showCompareNode').modal('hide');
		/* console.log(selectedNode); */
		
		var briefMethodInformation = selectedNode.briefMethodInformation1 == null ? selectedNode.briefMethodInformation2 : selectedNode.briefMethodInformation1;
		
		var requestParams = JSON.stringify({
			briefMethodInformation1 : selectedNode.briefMethodInformation1,
			version1 : selectedNode.version1,
			briefMethodInformation2 : selectedNode.briefMethodInformation2,
			version2 : selectedNode.version2,
			type : type
		});

		$.ajax({
			type : 'POST',
			contentType : 'application/json; charset=utf-8',
			url : '/differences/relatedMethods',
			data : requestParams,
			beforeSend : function() {
				$('#loadingSignForDisplayRelatedNodes').show();
				$('#displayRelatedNodes').show();
				$('#displayRelatedNodes svg').html("");
				if (type == 1)
					$('#relatedHeader').text('关联分析(调用' + briefMethodInformation + '的方法)');
				else if (type == 2)
					$('#relatedHeader').text('关联分析(' + briefMethodInformation + '调用的方法)');
			},
			success : function(data) {
				console.log(data);
				var nodes = [];
				var links = [];
				nodes.push(selectedNode);
				for (var i = 0; i < data.length; i++) {
					var methodCompareNode = getMethodCompareNode(data[i]);
					nodes.push(methodCompareNode);
					
					var link = new Object();
					if (type == 1) {
						link.source = methodCompareNode.id;
						link.target = selectedNode.id;
					} else if (type == 2) {
						link.source = selectedNode.id;
						link.target = methodCompareNode.id;
					}
					links.push(link);
				}
				
				var svg = d3.select('#displayRelatedNodes svg');
				var width = $('#displayRelatedNodes').innerWidth();
				var height = Math.max($('#displayRelatedNodes').innerHeight(), 600);
				showForceDirectedGraph(nodes, links, width, height, svg);
			},
			error : function(statusCode) {
				$.alert("出错了，状态码为" + statusCode.status);
			},
			complete : function() {
				$('#loadingSignForDisplayRelatedNodes').hide();
			}
		});
	}
</script>
</head>
<body>
	<div class="lyear-layout-web">
		<div class="lyear-layout-container">
			<div th:replace="fragments/general::left"></div>
			<div th:replace="fragments/general::top('差异分析')"></div>
			<main class="lyear-layout-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div id="loadingSignForLoadAllModifiedFiles"
										style="display: none">
										<h4>loading...</h4>
									</div>
									<div class="pull-right">
										<a id="loadAllModifiedFilesButton" class="btn btn-primary m-r-10"
											href="javascript:loadAllModifiedFiles()">显示所有变化文件</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<div class="input-group">
										<label for="sel1">项目一:</label> <select class="form-control"
											id="sel1" onchange="setOptionsDisabled(this)">
											<option disabled selected value="" style="display: none">--
												选择一个项目 --</option>
										</select>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-bordered showFilesOfProject"
												id="project1FilesTable">
												<thead>
													<tr>
														<th></th>
														<th>路径</th>
													</tr>
												</thead>
												<tbody>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<div class="input-group">
										<label for="sel2">项目二:</label> <select class="form-control"
											id="sel2" onchange="setOptionsDisabled(this)">
											<option disabled selected value="" style="display: none">--
												选择一个项目 --</option>
										</select>
									</div>

									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-bordered showFilesOfProject"
												id="project2FilesTable">
												<thead>
													<tr>
														<th></th>
														<th>路径</th>
													</tr>
												</thead>
												<tbody>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4>比较结果</h4>
									<div class="pull-right">
										<a class="btn btn-primary m-r-10 showModifiedInformation"
											href="javascript:compare(1,pageSize,'graph')">显示变化信息</a> <a
											href="javascript:compare(currentRequestPage,pageSize,'graph')"
											class="btn btn-primary m-r-10 showModifiedInformation"><i
											class="mdi mdi-vector-polygon"></i>图</a> <a
											href="javascript:compare(currentRequestPage,pageSize,'table')"
											class="btn btn-primary showModifiedInformation"><i class="mdi mdi-table"></i>表</a>
									</div>
								</div>
								<div class="card-body">
									<div id="loadingSignForDisplayDifferences"
										style="display: none">
										<h4>loading...</h4>
									</div>
									<div id="displayAsTable" class="table-responsive scroll-y"
										style="height: 300px; overflow-y: scroll; display: none;">
										<table class="table table-bordered" id="resultDataTable">
											<thead>
												<tr id="template">
													<th class="filePath1">文件一路径</th>
													<th class="filePath2">文件二路径</th>
													<th class="fileState">文件状态</th>
													<th class="briefMethodInformation1">方法信息一</th>
													<th class="version1">版本一</th>
													<th class="briefMethodInformation2">方法信息二</th>
													<th class="version2">版本二</th>
													<th class="methodState">方法状态</th>
													<th class="methodSimilarity">方法相似度</th>
												</tr>
											</thead>
											<tbody>

											</tbody>
										</table>
									</div>
									<div id="displayAsGraph" style="display: none;">
										<svg></svg>
										<div class="modal fade" id="showCompareNode" tabindex="-1"
											role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
														<h4 class="modal-title" id="myModalLabel">节点信息</h4>
													</div>
													<div id="compareNodeInformation" class="modal-body">节点信息</div>
													<div class="modal-footer" id="myModalFooter">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">关闭</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<ul class="pagination" id="pageCompare">

									</ul>
								</div>

							</div>
						</div>

						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 id="relatedHeader">关联分析</h4>
									<div class="pull-right">
										<a class="btn btn-primary m-r-10"
											href="javascript:clearDisplayedRelatedNodes()">清空当前显示节点</a>
									</div>
								</div>
								<div class="card-body">
									<div id="loadingSignForDisplayRelatedNodes"
										style="display: none">
										<h4>loading...</h4>
									</div>
									<div id="displayRelatedNodes" style="display: none;">
										<svg></svg>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</body>
</html>